<div class="disclaimer">
  <p>* Whilst we strive to make your developer experience seamless, at times you may have to incur breaking changes from the StageZero framework, resulting in code changes.</p>
</div>

<style lang="scss">
  .disclaimer {
    margin: 2rem 0 !important;

    > p {
      font-size: 14px;
    }
  }
</style>